bot.billing_name=chris cornell

bot.email=cornellc1645@gmail.com

bot.tel=1234567890

bot.billing_address=1234 meme street

bot.billing_zip=18929

bot.billing_city=memetown

bot.cc_number=1111222233334444

bot.cvv_code=124

bot.cc_month=09

bot.cc_year=2019

bot.prod_section=shirts

bot.prod_name=S/S Plaid Flannel Shirt

bot.prod_color=Black

bot.prod_size=Large

bot.AUTORETRY=0

# If no color, set prod_color to NONE
# If no size, set prod_size to NONE
# Names are CASE SENSITIVE, check @j_preme on Instagram for names
# Sometimes for names you need ® symbol or © symbol, just copy and paste these ones
# Sections you have to guess for, but it should be easy
# List of sections: 

#jackets
#shirts
#tops_sweaters
#sweatshirts
#pants
#shorts
#t-shirts
#hats
#accessories
#skate
#